// Navbar
nav#nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    a.navbar-logo.navbar-brand(href='/#/')
      img#nav-logo(alt='', src='/imgs/logo.png')
    ul.nav.navbar-nav
      li.item
        a(href='/#/') Intro
      li.item
        a(href='/#/about') About
      li.item.pull-right
        a.btn.btn-link(href="https://github.com/walkingice/omelet", target="_blank") Github
// Navbar End
